.App {
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 95vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.PokeLogo {
  position:relative;
  background-image: url("./Assets/logoconbg-01.png") ;
  min-height: 50px;
  width: 250px ;
}




.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb {
  background-color: #f90a23;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}


::-moz-selection {
  background-color: #fb4c46;
  color: #fff; }

::selection {
  background-color: #FA6862;
  color: #fff; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "8bit";
  src: url("./Assets/Fonts/8-BITWONDER.TTF");
}

@font-face {
  font-family: "pokemon";
  src: url("./Assets/Fonts/Pokemon.ttf");
}