.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.PokeLogo {
  position:relative;
  background-image: url("./Assets/logoconbg-01.png") ;
  min-height: 50px;
  width: 250px ;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "8bit";
  src: url("./Assets/Fonts/8-BITWONDER.TTF");
}